VITE_SUPABASE_URL=https://kejitvcoalooiwbcwelt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtlaml0dmNvYWxvb2l3YmN3ZWx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY4NzkyNDcsImV4cCI6MjAzMjQ1NTI0N30.bQhSZ5SJmSQdH7fCrfKhxZKXKCH2JNqOZIbC5Z2WpRU
